<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Projeto Semestre{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <header>
        
        <div class="esquerda">
        <a href="{% url 'homepage' %}"><img class="logo" src="{% static 'img/logo.png' %}" alt="Logo"></a>
        <a href="{% url 'produto_list' %}" class="btn">Produto</a>
        <a href="{% url 'categoria_list' %}" class="btn">Categoria</a>
        <a href="{% url 'movimentacao_list' %}" class="btn">Movimentação</a>
        </div>

        <div class="direita">
        <a href="{% url 'perfil' %}" class="btn">Perfil</a>

        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn" style="background: none; border: none; color: white; cursor: pointer; font-size: 1.3rem;"> Sair </button>
        </form>
        </div>
        
    </header>
    <div class="container">
    {% block content %} {% endblock %}
    </div>
    <footer>

    </footer>
</body>
</html>